$light-color: rgb(217, 239, 241);
$darker-color: powderblue;
$lt-blue: #afdefa;
$dk-blue: #a5c6fc;
$text-color: darken($dk-blue, 40%);
$extra-dk: darken($dk-blue, 20%);
$off-white: rgb(248, 248, 248);



body {
  margin: 0;
  margin-bottom: 20px;
  //background: $light-color;
  background: linear-gradient(0deg, hsla(217, 100%, 50%, 0.5) 0%, hsla(186, 100%, 69%, 1) 100%);
  font-family: 'Varela Round', sans-serif;
  color: $extra-dk;

  h1, h2{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
  }
}

nav{
  display: flex;
  background-color: $extra-dk;
  padding: 10px;
}

.nav-link{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.title{
  text-align: center;
}

.classLink{
  font-size: 5vw;
  text-decoration: none;
  padding: 20px 40px;
  background-color: $off-white;
  border-radius: 10px;
  color: $extra-dk
}

.classLink:hover{
  background-color: darken($dk-blue, 20%);
  color: white;
}

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#participantsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainList{
  display: flex;
  width: 95%;
}

.partList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.listContainer{
  width: 50%;
  margin: 10px;
  border-radius: 20px;
  background-color: $lt-blue;
}

.participant{
  border-radius: 10px;
  background-color: $dk-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  width: 100px;
}

#deleteButton{
  border: 0px;
  align-self: flex-end;
  color: white;
  background-color: transparent;
}

#selector{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lt-blue;
  border-radius: 20px;
  min-height: 200px;
}

.partButtons{
  margin-top: 15px;
  background-color: $off-white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
}

#selectedCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#partInputForm{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  margin-right: 20px;
  background-color: $off-white;
}

.updateButton{
  border:none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: $off-white;
}

button:hover{
  background-color: $extra-dk;
  color: white;
}