$light-color: rgb(217, 239, 241);
$lt-blue: #afdefa;
$dk-blue: #a5c6fc;
$text-color: darken($dk-blue, 40%);
$extra-dk: darken($dk-blue, 20%);
$off-white: rgb(248, 248, 248);


body {
  margin: 0;
  margin-bottom: 20px;
  //background: $light-color;
  background: linear-gradient(0deg, hsla(217, 100%, 50%, 0.5) 0%, hsla(186, 100%, 69%, 1) 100%);
  font-family: 'Varela Round', sans-serif;
  color: $extra-dk;

  h1, h2{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
  }
}

.title{
  text-align: center;
  font-size: 7vh;
  margin-block-end: 0px;
}

// top navigation bar
nav{
  display: flex;
  background-color: $extra-dk;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

#mainTitle{
  color: white;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 30px;
}

.nav-link{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

//general styling
.noListData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 15px;
}

.inputForm{
  border: none;
  font-size: 18px;
  padding: 6px 15px;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  margin-right: 20px;
  background-color: $off-white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

//login page
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p{
    font-size: 3vh;
    margin-block-start: 2em;
    margin-block-end: 0.5em;
  }
}

#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInputForm{
  border: none;
  font-size: 18px;
  padding: 6px 15px;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  background-color: $off-white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40vw;
}

#loginButton{
  width: 200px;
  background-color: $lt-blue;
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  color: $extra-dk;
  text-decoration: none;
}

#loginButton:hover{
  background-color: $extra-dk;
  color: white;
}

#signUp-link{
  text-decoration: none;
  color: $text-color;
}

//signup page

#signUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signUpButton{
  width: 200px;
  background-color: $lt-blue;
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  color: $extra-dk;
}

#signUpButton:hover{
  background-color: $extra-dk;
  color: white;
}

//group page

#groupsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#group-List{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.classLink{
  font-size: 5vw;
  text-decoration: none;
  padding: 20px 40px;
  background-color: $off-white;
  border-radius: 10px;
  color: $extra-dk;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.classLink:hover{
  background-color: darken($dk-blue, 20%);
  color: white;
}

#addGroupButton{
  background-color: $lt-blue;
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  color: $extra-dk;
}

#addGroupButton:hover{
  background-color: $extra-dk;
  color: white;
}

//participants page

#participantsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainList{
  display: flex;
  width: 95%;
}

.partList{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.listContainer{
  width: 50%;
  margin: 10px;
  border-radius: 20px;
  background-color: $lt-blue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

//style the participant cards
.participant{
  border-radius: 10px;
  background-color: $dk-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#deleteButton{
  border: 0px;
  align-self: flex-end;
  color: white;
  background-color: transparent;
  box-shadow: none;
}

#selector{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lt-blue;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3vh;
}

.partButtons{
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Varela Round', sans-serif;
  background-color: $lt-blue;
  color: $extra-dk;
  font-weight: 900;
}

#randomButton{
  background-color: $dk-blue;
}

#selectedCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.updateButton{
  border:none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: $off-white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

button:hover{
  background-color: $extra-dk;
  color: white;
}

.emoji{
  max-width: 70%;
}

h4{
  margin-block-start: 0px;
  margin-block-end: 0.1em;
}